<div class='left_navigation_title'>Navigation:</div>
<%= render_navigation(:items => [{:key => :left_nav_general, :name => 'Overview', :url => datasets_path}, {:key => :left_nav_comparison, :name => 'Comparison', :url => url_for(:controller => 'datasets',:action => 'comparison')}]) %>