<h2>Help</h2>
This is the help section of clusteval. In the navigation you find all the topics that are covered. More detailed information about many aspects can be found in the <%= link_to 'technical documentation', help_technical_documentations_path %>.