<h2>Source Code</h2>

<h3>Zip</h3>
All source files of the complete clusteval framework are available in a zip file. The zip-file includes the java source code of the backend and also the ruby on rails source files of the website.
<table class="downloadTable">
	<thead>
		<th>Link</th>
		<th>Version</th>
		<th>Release Date</th>
	</thead>
	<tr>
		<td><%= link_to "clustevalSource.zip", "http://clusteval.mmci.uni-saarland.de/clustevalSource.zip" %></td>
		<td>1.0</td>
		<td>13.05.2013</td>
	</tr>
</table>

<h3>GitHub</h3>
All sources of clusteval (including Java code and Ruby on Rails website) can be found on <%= link_to 'GitHub', 'http://github.com/wiwie/clusteval' %>.