
.dataTables_wrapper input[type="text"] {
	padding: 0px;
	margin-bottom: 0px;
	width: auto;
}

tfoot input[type="text"] {
	padding: 0px;
	margin: 0px;
	width: auto;
}

.dataTables_wrapper select {
	padding: 0px;
	height: auto;
	margin-bottom: 0px;
}

tfoot select {
	padding: 0px;
	height: auto;
	margin-bottom: 0px;
}