<div class="clustering_method_description">
	<h3><%= method.name %> (<%= link_to 'Link', method %>)</h3>
	<p>
		<%= image_tag 'affinity_propagation_messages.png', :height => '156', :style => 'float:right;' %>
		Affinity Propagation "identifies exemplars among data points and forms clusters of data points around these exemplars. It operates by simultaneously considering all data point as potential exemplars and exchanging messages between data points until a good set of exemplars and clusters emerges."
		<ul>
			<li>Publication: </li>
		</ul>
	</p>
</div>