<div class="clustering_method_description">
	<h3><%= method.name %> (<%= link_to 'Link', method %>)</h3>
	<p>
		<%= image_tag 'markov.png', :height => '156', :style => 'float:right;' %>
		"The MCL algorithm is short for the Markov Cluster Algorithm, a fast and scalable unsupervised cluster algorithm for networks (also known as graphs) based on simulation of (stochastic) flow in graphs."
	</p>
</div>