<p>Here you see a comparison matrix how well this clustering method performs on different datasets (rows). Where the performance is measured with different clustering quality measures (columns).</p>
<p>You can reorder the matrix by a certain column, to see on which dataset this clustering method performs best on, when measures by the corresponding clustering quality measure of that column.</p>