<%= form_tag({:action => 'comparison'},{:method => 'get'}) do %>
<% if params[:post] %> 
<% program_id = params[:post][:program_id] %>
<% qualityMeasure = ClusteringQualityMeasure.find_by_id(params[:post][:clustering_quality_measure_id2]) %>
<% qualityMeasureName = qualityMeasure.id %>
<% else %>
<% program_id = Program.first.id %>
<% qualityMeasure = ClusteringQualityMeasure.find_by_name('TransClustF2ClusteringQualityMeasure') %>
<% qualityMeasureName = qualityMeasure.id %>
<% end %>
<h2>How does a clustering method perform on different datasets?</h2>
Please choose a clustering method <%= collection_select(:post, :program_id, Program.all(session).sort_by{|x| x.alias}, :id, :name, {:selected => program_id},{:style=>'width:300px; font: 16px serif;', :onchange => "this.form.submit();"}) %> and <br />
a clustering quality measure:
<%= collection_select(:post, :clustering_quality_measure_id2, ClusteringQualityMeasure.all(session).sort_by{|x| x.alias}, :id, :alias, {:selected => qualityMeasure.id},{:style=>'width:200px; font: 16px serif;', :onchange => "this.form.submit();"} ) %>
<%= render_cell :small_ranking, :p, :qualityMeasure => qualityMeasureName, :obj => Program.find_by_id(program_id) %>
<% end %>