<h1>RunResult format</h1>

<table id="runResultFormat" class="display">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
 </thead>
 <tbody>
  <tr>
    <td><%= @runResultFormat.name %></td>
    <td>TODO</td>
  </tr>
</tbody>
</table>