<% content_for :title, "About Us" %>
clusteval has been developed at the Max Planck Institute for Informatics in Saarbrücken, Germany.
<br>
The core developers of clusteval are:
<table class="downloadTable">
	<thead>
		<th>Name</th>
	</thead>
	<tr>
		<td>Christian Wiwie</td>
	</tr>
	<tr>
		<td>Richard Röttger</td>
	</tr>
</table>