<% content_for :title, "About Us" %>
clusteval has been developed at the Max Planck Institute for Informatics and the Cluster of <br>Excellence "Multimodal Computing and Interaction" in Saarbrücken, Germany.
<br>
<img src="/mpilogo-inf-compact.png" style="height:100px;right-padding:20px;">
<img src="/mmci.jpg" style="height:100px;">
<p></p>
The core developers of clusteval are:
<table class="downloadTable">
	<thead>
		<th>Name</th>
		<th>Role</th>
	</thead>
	<tr>
		<td><a href="http://mpi-inf.mpg.de/~wiwiec" target="_blank">Christian Wiwie</a></td>
		<td>Developer</td>
	</tr>
	<tr>
		<td><a href="http://mpi-inf.mpg.de/~roettger" target="_blank">Richard Röttger</a></td>
		<td>Supervision</td>
	</tr>
	<tr>
		<td><a href="http://www.baumbachlab.net" target="_blank">Jan Baumbach</a></td>
		<td>Supervision</td>
	</tr>
</table>