<h1>Dataset format</h1>

<table id="datasetFormat" class="display">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
 </thead>
 <tbody>
  <tr>
    <td><%= @datasetFormat.name %></td>
    <td>TODO</td>
  </tr>
</tbody>
</table>