<table id="dataStatistics" class="display">
  <thead>
  <tr>
    <th>Program</th>
    <th>Best quality</th>
    <th>Parameter set</th>
  </tr>
 </thead>
 <tbody>
</tbody>
  <tfoot>
  <tr>
    <th>Program</th>
    <th>Best quality</th>
    <th>Parameter set</th>
  </tr>
 </tfoot>
</table>

<script type="text/javascript">
$(document).ready(function() {
  $('#dataStatistics').dataTable({
      sPaginationType: "full_numbers",
      oSearch: {"sSearch": "<%= program_filter %>"},
      sDom: '<"H"Rlfr>t<"F"ip>',
      bJQueryUI: true,
      bRetrieve: true,
      bDestroy: true,
      bSort: true,
      bAutoWidth: false,
      aaSorting: [[ 1, "desc" ]],
      sAjaxSource: "/datasets/bestclusterings_table_data/<%= dataset.id %>/<%= qualityMeasure %>"
    }).columnFilter({
      aoColumns: [
        { type: "select" },
        { type: "number-range" },
        { type: "text" }
        ]
    });
});
</script>