<table id="runConfigsParameterOptimization" class="display">
  <thead>
	<tr>
	<th>Information</th>
	<th>Value</th>
	</tr>
  </thead>
  <tbody>
  <tr>
    <td>Name</td><td><%= @run.absPath.split('/')[-1] %></td>
  </tr>
  <tr>
    <td>Run result folders</td>
    <td>
      <% @runResults.each do |runResult|%>
        <% if runResult.nil? %>
        not found
        <% else %>
        <%= link_to runResult.uniqueRunIdentifier, runResult %>
        <% end %>
      <% end %>
    <br /></td>
  </tr>
  <tr>
    <td>Statistics</td><td><% @statistics.each do |statistic|%><%= link_to statistic.name, statistic %><br /><% end %></td>
  </tr>
  </tbody>
</table>