<table id="goldstandardConfig" class="display">
  <thead>
	<tr>
	<th>Information</th>
	<th>Value</th>
	</tr>
  </thead>
  <tbody>
  <tr>
    <td>Absolute Path</td><td><%= @goldstandardConfig.absPath.split('/')[-1] %></td>
  </tr>
  <tr>
    <td>Goldstandard</td><td><%= link_to @goldstandard.absPath.split('/')[-2] + "/" + @goldstandard.absPath.split('/')[-1], @goldstandard %></td>
  </tr>
  <tr>
    <td>File content</td><td>
<pre>
<%= @contents %>
</pre></td>
  </tr>
  </tbody>
</table>