<% content_for :title, "Gold Standards" %>
<table id="goldstandards" class="display">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
 </thead>
 <tbody>
 <% @goldstandards.each do |goldstandard| %>
  <tr>
    <td><%= link_to goldstandard.abs_path.split('/')[-2] + "/" + goldstandard.abs_path.split('/')[-1], goldstandard %></td>
  </tr>
<% end %>
</tbody>
</table>