<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear <%= @firstname  %> <%= @lastname %>,</h1>

<p>you requested to submit a dataset to our platform clusteval.
We will process your information and contact you under your given email address.</p>

Thanks,<br />
the clusteval team
  </body>
</html>