<h3>Master's Thesis</h3>
This project has been developed as a Master's Thesis at the Max-Planck Institute for Computer Science. 
<br>
Here the thesis as well as the repository containing the three presented application cases can be downloaded.
<table class="downloadTable">
	<thead>
		<th>Link</th>
		<th>Release Date</th>
	</thead>
	<tr>
		<td><%= link_to 'thesis.pdf','http://clusteval.mmci.uni-saarland.de/thesis.pdf' %></td>
		<td>13.05.2013</td>
	</tr>
	<tr>
		<td><%= link_to 'repositoryThesisWiwie.tar.gz','http://clusteval.mmci.uni-saarland.de/repositoryThesisWiwie.tar.gz' %></td>
		<td>13.05.2013</td>
	</tr>
</table>