<h2>Documentations</h2>

<h3>Java Docs</h3>
The javadocs of the backend can be downloaded here:
<table class="downloadTable">
	<thead>
		<th>Link</th>
		<th>Version</th>
		<th>Release Date</th>
	</thead>
	<tr>
		<td><%= link_to "clustevalJavadocs.zip", "http://clusteval.mmci.uni-saarland.de/clustevalJavadocs.zip" %></td>
		<td>1.0</td>
		<td>13.05.2013</td>
	</tr>
</table>

<h3>Technical Documentation</h3>
The technical documentation contains information about the following topics:
<ul>
	<li>The general structure of clusteval</li>
	<li>Details about the structure of backend and frontend</li>
	<li>Manuals for VirtualBox and manual installation including requirements</li>
	<li>Basic Usage of backend and frontend</li>
	<li>Developers guide - How to extend clusteval</li>
</ul>
<table class="downloadTable">
	<thead>
		<th>Link</th>
		<th>Version</th>
		<th>Release Date</th>
	</thead>
	<tr>
		<td><%= link_to "clustevalTecDoc.zip", "http://clusteval.mmci.uni-saarland.de/clustevalTecDoc.zip" %></td>
		<td>1.0</td>
		<td>13.05.2013</td>
	</tr>
</table>