<% content_for :title, "Available datasets" %>
<% @datasets.sort_by{|x| x[0].alias}.each do |dataset| %>
	<% if dataset[1].length > 0 %>
	  <h3><%= dataset[0].alias %></h3>
	  <ul>
	  <% dataset[1].sort_by{|x| x.alias}.each do |ds| %>
		<li><%= cell :dataset_description, method: :display, :dataset => ds, :detailsLink => true %></li>
	  <% end %>
	  </ul>
	<% end %>
<% end %>