<%= form_tag('/datasets/' + params[:id] + '/bestclust', {:method => 'get'}) do %>
<h2>Which parameter sets lead to the optimal clustering quality?</h2>
Please choose a clustering quality measure:
<%= collection_select(:post, :clustering_quality_measure_id2, ClusteringQualityMeasure.all(session).sort_by{|x| x.alias}, :id, :alias, {:selected => @qualityMeasure.id},{:style=>'width:200px; font: 16px serif;', :onchange => "this.form.submit();"} ) %>
<%= render_cell :small_ranking, :ds, :qualityMeasure => @qualityMeasureName, :obj => Dataset.find_by_id(@dataset_id), :program_filter => params[:program_filter] %>
<% end %>