<% content_for :title, "Data Set Configurations" %>
<table id="datasetConfigs" class="display">
  <thead>
  <tr>
    <th>Name</th>
    <th>Dataset</th>
  </tr>
 </thead>
 <tbody>
 <% @datasetConfigs.each do |datasetConfig| %>
  <tr>
    <td><%= link_to datasetConfig.abs_path.split('/')[-1], datasetConfig %></td>
    <td><% @dataset = datasetConfig.dataset %><%= link_to @dataset.alias, @dataset %></td>
  </tr>
<% end %>
</tbody>
</table>