<% content_for :title, "Data Set Configurations" %>
<table id="datasetConfigs" class="display">
  <thead>
  <tr>
    <th>Name</th>
    <th>Dataset</th>
  </tr>
 </thead>
 <tbody>
 <% @datasetConfigs.each do |datasetConfig| %>
  <tr>
    <td><%= link_to datasetConfig.absPath.split('/')[-1], datasetConfig %></td>
    <td>
    <% datasetConfig.datasets.each do |ds| %>
    	<%= link_to ds.alias, ds %>,
    <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>