<% content_for :title, "Dataset Configuration '" + @datasetConfig.name + "'" %>
<table id="datasetConfig" class="display">
  <thead>
	<tr>
	<th>Information</th>
	<th>Value</th>
	</tr>
  </thead>
  <tbody>
  <tr>
    <td>Absolute Path</td><td><%= @datasetConfig.absPath.split('/')[-1] %></td>
  </tr>
  <tr>
    <td>Datasets</td>
    <td>
      <% @datasets.each do |ds| %><%= link_to ds.absPath.split('/')[-2] + "/" + ds.absPath.split('/')[-1], ds %>,<% end  %>
    </td>
  </tr>
  <tr>
    <td>File content</td><td>
<pre>
<%= @contents %>
</pre></td>
  </tr>
  </tbody>
</table>